<!DOCTYPE html>
<html lang="en">

<head>
<select id="BrandSelect">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
<title> Table </title>
</head>
<body>
<div align="center">
<table>
<h1>
<!--Displaying the converted table-->
{% for table in tables %}
<h2>{{titles[loop.index]}}</h2>
{{ table|safe }}
{% endfor %}
</h1>
</table>
</div>
</body>
</html>

<script>
var testnumber = 1;
for (var i = 0; i < 10; i++) {
  var option = document.createElement("option");
  option.text = "Text" + (testnumber);
  option.value = "myvalue" + (testnumber);
  var select = document.getElementById("BrandSelect");
  select.appendChild(option);
  var testnumber = i + 1;
  ;
}
</script>