<!DOCTYPE html>
<html lang="en">
<head>
<form action="{{ url_for("home") }}" method="post">
<form method="POST" style="margin-left: 20px;">
  <label for="Brand">Select a brand:</label>
  <select id="Brand" name="brandentry">
      {% for option in options %}
      <option value="{{ option['value'] }}">{{ option['label'] }}</option>
      {% endfor %}
  </select>
  <button type="submit">Login</button>
<button onclick="location.href='http://127.0.0.1:5000/modelselect'" type="button">
  To Model Select</button>
<title> Table </title>
</head>
<body>
<div align="center">
<table>
<h1>
<!--Displaying the converted table-->
{% for table in tables %}
<h2>{{titles[loop.index]}}</h2>
{{ table|safe }}
{% endfor %}
</h1>
</table>
</div>
</body>
</html>