<!DOCTYPE html>
<html lang="en">
<head>
<form method="POST" style="margin-left: 20px;">
  <label for="Model">Select a model:</label>
  <select id="Model" name="modelentry">
      {% for option in options %}
      <option value="{{ option['value'] }}">{{ option['label'] }}</option>
      {% endfor %}
  </select>
  <button type="submit">Price Select</button>
<title> Table </title>
</head>
<body>
<div align="center">
<table>
<h1>
Currently Available Cars
<!--Displaying the converted table-->
{% for table in tables %}
<h2>{{titles[loop.index]}}</h2>
{{ table|safe }}
{% endfor %}
</h1>
</table>
</div>
</body>
</html>
<script>
const BrandVar = ["{{ Brands }}"];
BrandVar.forEach((element) => {
  var option = document.createElement("option");
  option.text = element;
  option.value = element;
  var select = document.getElementById("BrandSelect");
  select.appendChild(option);
})
</script>